
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  text-decoration: none;
  color: lightblue;
}

#home{
  padding-top: 15%;
}

.note-title{
  color: white;
}

.note-title-bg{
background-color: black;
}

.note-show-div{
  position: fixed;
  width: 750px;
  height: 500px;
  top: 50%;
  left: 45%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}

.note-memo{
background-color: #fdfd96;
height: 100%;
word-wrap: break-word;
overflow:scroll
}

.delete-button-container{
  /* position: absolute;
  bottom: 0px;
  border:  dotted blue; */
  
}



