
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index page */

.add-note-icon {
  max-width: 70px;
}

.title-link{
  text-decoration: none;
  color: white;
  background-color: black;
}

.date-div{
  display: flex;
  font-size: 20px;
}

.add-note-form{
  padding: 50px;
}

.notes-list{
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 20px;
}

.notes-body{
  background-color:#fdfd96 ;
  overflow:hidden;
  height: 300px;
}

.header-title{
  font-size: 50px;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-decoration: none;
}

#home{
  padding-top: 15%;
}

/* show page */

.note-show-div{
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 40px;
}

.note-title{
  color: white;
}

.note-title-bg{
background-color: black;
}

.date-div-show{
  display: flex;
  color: white;
  font-size: 20px;
}

.note-memo{
background-color: #fdfd96;
height: 700px;
word-wrap: break-word;
overflow:scroll;
}



